.navbar {
    background: #85bb65 !important;
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.navbar li a {
    color: #ffffff !important;
    margin-left: 5px !important;
    margin-right: 5px !important;


}

.btn:hover {
    border-color: #aaa;
    transform: scale(1.1);
}

.sombra {
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}


.dropdown-item:hover {
    background: #85bb65 !important;
    color: #ffffff !important;
    transform: scale(1.1) !important;
}


.a_reponsivo {
    width: 100px !important;
    color: #ffffff !important;
}






@media only screen and (max-width: 800px) {
    .card_header {
        font-size: 18px !important;

    }

}

@media only screen and (max-width: 500px) {
    .card_header {

        font-size: 15px !important;
    }

    .table {
        font-size: 12.5px !important;
    }


}
